@media (max-width: 576px) {
    .website-link{
        visibility: hidden;
    }
        body{
            max-width: 428px;
        }

    .navbar-toggle {
        display: flex;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        align-items: start;
        position: absolute;
        /* top: 100%; */
        left: 0;
        width: 91%;
        background-color: #00533F;
        text-align: center;
        z-index: 90;
    }

    .navbar-links li {
        margin: 10px 0;
    }
/* banner */
.banner{
    max-width: 425px;
}
.banner-photo{
    width: 425px;
    height: 250px;
}
.socail-icons{
    visibility: hidden;
}
.text1{
    
    font-size: 18px;
}
.main{
   
    flex-direction: column;
    padding: 0 10px 0 10px
}
.content1{
    width: 388px; 
      padding: 0px;
      border: none;
}
.bg{
    height: 50px;
    margin-bottom: 20px;
    width: 300px;
    margin-left: 80px;
}
.content1-photo{
    width: 200px;
    float: right;
    margin-top: 40px;
}
.content2{
 
    width: 311px;
     height: 300px;
    
       
       
 
   
   
}
.main{
    margin-left: 0px;
}
.button{
    margin-left: 30px;
}
.footer-photo{
    visibility: hidden;
}
.pragraph{
    margin-left: -130px; color: white;
    float: left;
    font-size: 15px;
}
.content{
    flex-direction: column;
    width: 405px;
}
.content-photo{
    width: 425px;
}
.button-side{
    margin-top: 80px;
    margin-left: 0px;
    
 }
 .content2 P{
    margin-left: 0px;
 
}
.content2 {
   margin-top: 30px;
   margin-left: 40px;
 
}
.feb{

}
.metrics{
    margin-left: 10px; 
}

.container{
   margin-top: 100px;
    flex-direction: column;
}

.card{
    width: 100%;
    
}
.card img{
    width: 425px;
}
}
